<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book to Playlist</title>

    <link rel="stylesheet" href="/static/css/styles.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles_result.css" />
    <link rel="shortcut icon" href="/static/images/fav.png" type="image/x-icon">
</head>
<body>

    <div class="container-app">

        <!-- Header com logo e links -->
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">
                    <img src="/static/images/logo.png" alt="">
                    <p>StorySoundTrack</p>
                </a>
                <div class="nav-center">
                    <ul>
                        <li><a href="/"><i class="material-icons">home</i>Home</a></li>
                        <li><a target="_blank" href="https://michellegomes85.github.io/StorySoundTrack/"><i class="material-icons">playlist_add</i>Informações</a></li>
                    </ul>
                </div>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>

        <!-- Navegação para dispositivos móveis -->
        <ul class="sidenav" id="mobile-nav">
            <li><a href="/"><i class="material-icons">home</i>Home</a></li>
            <li><a target="_blank" href="https://michellegomes85.github.io/StorySoundTrack/"><i class="material-icons">playlist_add</i>Informações</a></li>
        </ul>

        <!-- Hero Section -->
        <div class="hero">
            <div class="hero-description">
                <h1>
                    Transforme <span>histórias</span><br>
                    em <span>emoções</span> sonoras
                </h1>
                <p>
                    Dê uma trilha sonora ao seu livro com StorySoundTrack
                </p>
                <div class="search-container">
                    <input id="book-title" type="text" placeholder="Digite o título do livro - nome do autor">
                    <button id="searchBtn">Encontrar Trilha</button>
                </div>

                <div id="loading">
                    <i class="material-icons spin">autorenew</i>
                    <p>Analisando ...</p>
                </div>

                <div class="description">
                    Descubra músicas que capturam os sentimentos do seu livro.
                </div>
            </div>
            <img src="/static/images/image_home.png" alt="Imagem de fundo" class="footer-image">
        </div>

        <div id="result" class="result_section">
          
            <!-- Card do Topo (Capa do Livro e Descrição) -->
            <div class="top-card">
                <img id="book-image" src="" alt="Capa do Livro">
                <div>
                    <h2 id="title-book"></h2>
                    <p id="book-description"></p>
                    <button class="see-more">Ver mais</button>
                </div>
            </div>

            <!-- Cards Container -->
            <div class="cards-container" id="cards-container">
                <!-- Os cards serão gerados dinamicamente aqui -->
            </div>

            <!-- Gráfico de Teia -->
            <div class="chart-container">
                <h2>Analise das emoções</h2>
                <canvas id="emotionChart"></canvas>
            </div>
        </div><!--result_section-->

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large">
                <i class="large material-icons">live_help</i>
            </a>
            <ul>
                <li>
                    <a class="btn-floating red tooltipped" data-position="left" data-tooltip="Um Amor para Recordar - Nicholas Sparks">
                        <img src="http://books.google.com/books/content?id=CD0EQdzpRv8C&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="Um Amor para Recordar - Nicholas Sparks" class="circle responsive-img">
                    </a>
                </li>
                <li>
                    <a class="btn-floating yellow darken-1 tooltipped" data-position="left" data-tooltip="Harry Potter e a Ordem da Fênix - JK">
                        <img src="http://books.google.com/books/content?id=9TcQCwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api" alt="Harry Potter e a Ordem da Fênix - JK" class="circle responsive-img">
                    </a>
                </li>
                <li>
                    <a class="btn-floating green tooltipped" data-position="left" data-tooltip="The Lord of the Rings: The Two Towers - ...">
                        <img src="http://books.google.com/books/content?id=12e8PJ2T7sQC&printsec=frontcover&img=1&zoom=1&source=gbs_api" alt="The Lord of the Rings: The Two Towers - ..." class="circle responsive-img">
                    </a>
                </li>
            </ul>
        </div>

    </div><!--container-app-->

    
    <!-- Footer -->
    <footer class="footer" id="contato">
        <div class="container">
            <p>
                Feito por <strong>Michelle Cristina Gomes</strong>
            </p>
            <p>Email: gmichele498@gmail.com</p>
            <p class="icons-contact">
                <a href="https://www.linkedin.com/in/michelleGomes85/"
                    target="_blank"> <i class="fab fa-linkedin"></i>
                </a> | <a href="https://github.com/michelleGomes85" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </p>
            <p class="footer-text">Feito para a disciplina WebServices, graduação em Tecnologia em Sistemas para Internet.
            </p>
        </div>
    </footer>

    <div id="modal-id" class="modal-error">
      <div id="icon"></div>
      <div class="description" id="error-message"></div> <!-- Elemento de erro -->
      <button class="fechar" onclick="closeModal()">Fechar</button>
    </div>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modal-description"></p>
        </div>
    </div>
  
  <div id="overlay"></div>

  <button id="back-to-top" title="Voltar ao topo"><i class="material-icons">arrow_upward</i></button>

    <!-- Scripts do Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/script_result.js"></script>
</body>
</html>