<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book to Playlist</title>

    <link rel="stylesheet" href="/static/css/styles.css" />

    <!-- Importando Materialize CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet"/>
    
    <!-- Ícones do Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <link rel="shortcut icon" href="/static/images/fav.png" type="image/x-icon">
</head>
<body>

    <div class="container-app">

        <!-- Header com logo e links -->
        <nav>
            <div class="nav-wrapper">

                <!-- Logo no lado esquerdo -->
                <a href="/" class="brand-logo">
                    <img src="/static/images/logo.png" alt="">
                    <p>StorySoundTrack</p>
                </a>

                <!-- Links no centro (desktop) -->
                <div class="nav-center">
                    <ul>
                        <li><a href="/"><i class="material-icons">home</i>Home</a></li>
                        <li><a href="#funcionalidades"><i class="material-icons">playlist_add</i>Funcionalidades</a></li>
                        <li><a href="#contato"><i class="material-icons">email</i>Contato</a></li>
                    </ul>
                </div>

                <!-- Ícone de menu para dispositivos móveis -->
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
            </div>
        </nav>

        <!-- Navegação para dispositivos móveis -->
        <ul class="sidenav" id="mobile-nav">
            <li><a href="/"><i class="material-icons">home</i>Home</a></li>
            <li><a href="#funcionalidades"><i class="material-icons">playlist_add</i>Funcionalidades</a></li>
            <li><a href="#contato"><i class="material-icons">email</i>Contato</a></li>
        </ul>

        <!-- Hero Section -->
        <div class="hero">
            <div class="hero-description">
                <h1>
                    Transforme <span>histórias</span><br>
                    em <span>emoções</span> sonoras
                </h1>
                <p>
                    Dê uma trilha sonora ao seu livro com StorySoundTrack
                </p>
                <div class="search-container">
                    <input id="book-title" type="text" placeholder="Digite o título do livro">
                    <button id="searchBtn">Encontrar Trilha</button>
                </div>

                <div id="loading">
                    <i class="material-icons spin">autorenew</i>
                    <p>Carregando...</p>
                </div>

                <div class="description">
                    Descubra músicas que capturam os sentimentos do seu livro.
                </div>
            </div>
        </div>

        <img src="/static/images/image_home.png" alt="Imagem de fundo" class="footer-image">
    </div>

    <!-- Scripts do Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="/static/js/script_index.js"></script>
</body>
</html>
