<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Livro e Criar Playlist</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Buscar Livro e Criar Playlist</h1>
    <input type="text" id="bookTitle" placeholder="Digite o nome do livro">
    <button id="searchButton">Buscar</button>
    <div id="bookDescription"></div>
    <div id="musicPlaylist"></div>

    <script src="/static/script.js"></script>
</body>
</html>
